In [3]:
import os, sys

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Path to the data:
path = "../data/"

In [ ]:
### import the data
# This is all of the data sets we have.
train_df = pd.read_csv(path+"train.csv")
test_df = pd.read_csv(path+"test.csv")

In [10]:
print(train_df.info())
print()
print(train_df.head())
print()
print(train_df.describe().T)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2662 entries, 0 to 2661
Columns: 427 entries, id to Group 424
dtypes: float64(1), int64(425), object(1)
memory usage: 8.7+ MB
None

     id                       SMILES      Tm  Group 1  Group 2  Group 3  \
0  2175        FC1=C(F)C(F)(F)C1(F)F  213.15        0        0        0
1  1222  c1ccc2c(c1)ccc3Nc4ccccc4c23  407.15        0        0        0
2  2994          CCN1C(C)=Nc2ccccc12  324.15        2        1        0
3  1704                   CC#CC(=O)O  351.15        1        0        0
4  2526                    CCCCC(S)C  126.15        2        3        0

   Group 4  Group 5  Group 6  Group 7  ...  Group 415  Group 416  Group 417  \
0        0        0        0        0  ...          0          0          0
1        0        0        0        0  ...          0          0          0
2        0        0        0        0  ...          0          0          0
3        0        0        0        0  ...          0          0          0
4        0        0        0        0  ...          0          0          0

   Group 418  Group 419  Group 420  Group 421  Group 422  Group 423  Group 424
0          0          0          0          0          0          0          0
1          0          0          0          0          0          0          0
2          0          0          0          0          0          0          0
3          0          0          0          0          0          0          0
4          0          0          0          0          0          0          0

[5 rows x 427 columns]

            count         mean         std    min     25%     50%      75%  \
id         2662.0  1652.887303  955.005512   1.00  830.25  1642.5  2469.75
Tm         2662.0   278.263452   85.117914  53.54  217.00   277.3   325.15
Group 1    2662.0     1.020661    1.353640   0.00    0.00     1.0     2.00
Group 2    2662.0     1.582269    3.738416   0.00    0.00     0.0     1.00
Group 3    2662.0     0.114951    0.425964   0.00    0.00     0.0     0.00
...           ...          ...         ...    ...     ...     ...      ...
Group 420  2662.0     0.000000    0.000000   0.00    0.00     0.0     0.00
Group 421  2662.0     0.000000    0.000000   0.00    0.00     0.0     0.00
Group 422  2662.0     0.000000    0.000000   0.00    0.00     0.0     0.00
Group 423  2662.0     0.000000    0.000000   0.00    0.00     0.0     0.00
Group 424  2662.0     0.000000    0.000000   0.00    0.00     0.0     0.00

               max
id         3328.00
Tm          897.15
Group 1      16.00
Group 2      42.00
Group 3       6.00
...            ...
Group 420     0.00
Group 421     0.00
Group 422     0.00
Group 423     0.00
Group 424     0.00

[426 rows x 8 columns]

In [ ]:
#Target column is the Tm.
#seems like some of the groups are just zero. We need to check those out.